<%= form_for([erp_consignments, :backend, cs_return], html: {multipart: true}) do |f| %>
    <input type="hidden" name="cs_return[consignment_id]" value="<%= consignment_id %>">
    <div class="form-body">        
        <div class="row">
            <div class="col-md-6">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <%= t('.consignment_code') %> <span class="text-lowercase"><%= t(".#{@consignment.consignment_type}") %></span>:
                        <%= link_to @consignment.code, erp_consignments.edit_backend_consignment_path(@consignment.id), target: "_blank", class: 'bold' %><br><br>
                        <div class="row">
                            <div class="col-md-6">
                                <%= erp_form_control("text", {
                                    name: 'cs_return[code]',
                                    value: cs_return.code,
                                    label: t('.code'),
                                    placeholder: t('.enter_code'),
                                    help: t('.help_code'),
                                    required: !cs_return.id.nil?,
                                    errors: cs_return.errors.full_messages_for(:code)
                                }) %>
                            </div>
                            <div class="col-md-6">
                                <%= erp_form_control('date', {
                                    name: 'cs_return[return_date]',
                                    value: cs_return.return_date,
                                    placeholder: t('.choose_return_date'),
                                    label: t('.return_date'),
                                    required: true,
                                    errors: cs_return.errors.full_messages_for(:return_date)
                                }) %>
                            </div>
                        </div>
                        <% if Erp::Core.available?("contacts") %>
                            <%= erp_form_control("dataselect", {
                                name: 'cs_return[contact_id]',
                                value: cs_return.contact_id,
                                text: cs_return.contact_name,
                                placeholder: t('.choose_contact_return'),
                                label: t('.contact_return'),
                                url: erp_contacts.dataselect_backend_contacts_path(format: 'json'),
                                create: {
                                    url: erp_contacts.new_backend_contact_path,
                                    title: t('.create_contact_return'),
                                    container_selector: '.new_contact',
                                    input_selector: 'input[name="contact[name]"]',
                                    modal_size: "full"
                                },
                                edit: {
                                    url: erp_contacts.edit_backend_contact_path(id: ':value'),
                                    title: t('.edit_contact_return'),
                                    container_selector: '.edit_contact',
                                    modal_size: "full"
                                },
                                required: true,
                                errors: cs_return.errors.full_messages_for(:contact_id)
                            }) %>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <% if Erp::Core.available?("warehouses") %>
                            <%= erp_form_control("dataselect", {
                                name: 'cs_return[warehouse_id]',
                                value: cs_return.warehouse_id,
                                text: cs_return.warehouse_name,
                                placeholder: t('.choose_warehouse'),
                                label: t('.warehouse'),
                                url: erp_warehouses.dataselect_backend_warehouses_path(format: 'json'),
                                create: {
                                    url: erp_contacts.new_backend_contact_path,
                                    title: t('.create_warehouse'),
                                    container_selector: '.new_warehouse',
                                    input_selector: 'input[name="warehouse[name]"]',
                                    modal_size: "full"
                                },
                                edit: {
                                    url: erp_warehouses.edit_backend_warehouse_path(id: ':value'),
                                    title: t('.edit_warehouse'),
                                    container_selector: '.edit_warehouse',
                                    modal_size: "full"
                                },
                                required: true,
                                errors: cs_return.errors.full_messages_for(:warehouse_id)
                            }) %>
                        <% end %>
                        <%= erp_form_control("textarea", {
                            name: 'cs_return[note]',
                            value: cs_return.note,
                            label: t('.note'),
                            placeholder: t('.enter_note')
                        }) %>
                    </div>
                </div>
            </div>  
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable-custom ">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#tab_5_1" data-toggle="tab" aria-expanded="true"><%= t('.return_details') %></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane addableform-table active" id="tab_5_1">
                            <table class="table table-advance table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th><%= t('.product_name') %></th>
                                        <th><%= t('.product_unit') %></th>
                                        <th><%= t('.state') %></th>
                                        <th class="text-center"><%= t('.consignment_quantity') %></th>
                                        <th class="text-center"><%= t('.returned_quantity') %></th>
                                        <th class="text-right"><%= t('.quantity') %></th>
                                        <% if false %>
                                            <th><%= t('.status') %></th>
                                        <% end %>
                                    </tr>
                                </thead>
                                <tbody class="addableform-container">
                                    <% @cs_return.return_details.each_with_index do |return_detail, index| %>
                                        <input type="hidden" name="cs_return[return_details_attributes][<%= index.to_s %>][id]" value="<%= return_detail.id %>">  
                                        <input type="hidden" name="cs_return[return_details_attributes][<%= index.to_s %>][consignment_detail_id]" value="<%= return_detail.consignment_detail_id %>">
                                        <input type="hidden" name="cs_return[return_details_attributes][<%= index.to_s %>][state_id]" value="<%= return_detail.state_id %>">
                                        <tr class="addableform-line">
                                            <td><%= return_detail.get_product_name %></td>
                                            <td><%= return_detail.get_product_unit %></td>
                                            <td><%= return_detail.state_name %></td>
                                            <td class="bold text-center"><%= return_detail.get_consignment_quantity %></td>
                                            <td class="bold text-center"><%= return_detail.get_returned_quantity %></td>
                                            <td width="10%">
                                                <% if return_detail.get_remain_quantity < 1 %>
                                                    <div class="form-group font-green-jungle">
                                                        <input type="text" readonly style="width: 100%"
                                                            placeholder="Đã trả xong" class="form-control border-green-jungle" />
                                                    </div>
                                                <% else %>
                                                    <%= erp_form_control("select", {
                                                        name: 'cs_return[return_details_attributes][' + index.to_s + '][quantity]',
                                                        value: return_detail.quantity,
                                                        placeholder: t('.choose_quantity'),
                                                        options: (0..return_detail.get_remain_quantity).map{|number| {value: number, text: "#{number} / #{return_detail.get_remain_quantity}"} },
                                                        class: "line_quantity",
                                                        required: true,
                                                        errors: return_detail.errors.full_messages_for(:quantity)
                                                    }) %>
                                                <% end %>
                                            </td>
                                            <% if false %>
                                                <td>
                                                    <% if return_detail.get_consignment_quantity > return_detail.get_returned_quantity %>
                                                        <span class="label label-sm label-warning"><%= t('.'+Erp::Consignments::ReturnDetail::STATUS_NOT_RETURN) %></span>
                                                    <% elsif return_detail.get_consignment_quantity == return_detail.get_returned_quantity %>
                                                        <span class="label label-sm label-success"><%= t('.'+Erp::Consignments::ReturnDetail::STATUS_RETURNED) %></span>
                                                    <% else %>
                                                        <span class="label label-sm label-danger"><%= t('.'+Erp::Consignments::ReturnDetail::STATUS_OVER_RETURED) %></span>
                                                    <% end %>
                                                </td>
                                            <% end %>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= erp_component('button/save', {
        text: t('submit')
    }) %>
    <%= erp_component('button/cancel', {
        text: t('cancel'),
        href: erp_consignments.backend_cs_returns_path
    }) %>
<% end %>
<script>
  window.onload = function() {
    document.getElementById("cs_return_code").focus();
  };
</script>