<% content_for :title do %>
    <%= @cs_return.code %>
<% end %>

<% content_for :page_title do %>    
    <a href="<%= erp_consignments.backend_cs_returns_path %>">
    <i class="fa fa-cubes"></i> <%= t('.cs_returns') %>
    </a> / <%= @cs_return.code %>
<% end %>

<% content_for :page_toolbar do %>
    <%= erp_component('button/create', {
        text: t('.create'),
        href: erp_consignments.new_backend_cs_return_path,
        class: 'btn-noborder'
    }) %>
<% end %>

<div class="row">
    <div class="col-md-12">
        <% if @cs_return.errors.any? %>
            <%= erp_form_control("form_error_message") %>
        <% end %>
        
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <%= render 'form', cs_return: @cs_return, consignment_id: @cs_return.consignment_id %>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>