<table class="table table-advance table-hover table-striped table-checkable order-column">
    <thead>
        <tr>
            <th width='1%'>
                <%= erp_datalist_check_all %>
            </th>
            <% if get_columns(params).include?("consignment_code") %>
                <th><%= t('.consignment_code') %></th>
            <% end %>
            <% if get_columns(params).include?("code") %>
                <th><%= t('.code') %></th>
            <% end %>
            <% if get_columns(params).include?("contact_return") %>
                <th><%= t('.contact_return') %></th>
            <% end %>
            <% if get_columns(params).include?("return_date") %>
                <th><%= t('.return_date') %></th>
            <% end %>
            <% if get_columns(params).include?("status") %>
                <th><%= t('status') %></th>
            <% end %>
            <% if get_columns(params).include?("creator") %>
                <th class="text-center"><%= t('creator') %></th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th><%= t('created_at') %></th>
            <% end %>
            <th class="text-right" width="7%"><%= t('actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% if @cs_returns.each do |cs_return| %>
            <tr class="odd gradeX has-child-table" data-url="<%= erp_consignments.return_details_backend_cs_returns_path(id: cs_return.id) %>">
                <td>
                    <%= erp_datalist_check_row(id: cs_return.id) %>
                </td>
                <% if get_columns(params).include?("consignment_code") %>
                    <td>
                        <i class="fa fa-plus expand tr-expand-button"></i>
                        <strong><%= link_to "#" + cs_return.consignment.code, erp_consignments.edit_backend_cs_return_path(cs_return) %></strong>
                    </td>
                <% end %>
                <% if get_columns(params).include?("code") %>
                    <td>
                        <strong><%= link_to "#" + cs_return.code, erp_consignments.edit_backend_cs_return_path(cs_return) %></strong>
                    </td>
                <% end %>
                <% if get_columns(params).include?("contact_return") %>
                    <td><%= cs_return.contact_name %></td>
                <% end %>
                <% if get_columns(params).include?("return_date") %>
                    <td><%= cs_return.return_date.strftime("%d/%m/%Y") %></td>
                <% end %>
                <% if get_columns(params).include?("status") %>
                <td>
                    <% if cs_return.status == Erp::Consignments::CsReturn::CS_RETURN_STATUS_PENDING %>
                        <%= erp_component('label/danger', {
                            text: t('.'+cs_return.status)
                        }) %>
                    <% end %>
                    <% if cs_return.status == Erp::Consignments::CsReturn::CS_RETURN_STATUS_APPROVED %>
                        <%= erp_component('label/success', {
                            text: t('.'+cs_return.status)
                        }) %>
                    <% end %>
                </td>
                <% end %>
                <% if get_columns(params).include?("creator") %>
                    <td>
                        <%= erp_component('avatar', {
                            user: cs_return.creator
                        }) %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                    <td><%= cs_return.created_at.strftime("%d/%m/%Y") %></td>
                <% end %>
                <td>
                    <%= erp_datalist_row_actions(
                        [
                            {
                                text: '<i class="fa fa-edit"></i> '+t('.edit'),
                                href: erp_consignments.edit_backend_cs_return_path(cs_return)
                            },
                            {
                                text: '<i class="fa fa-check"></i> '+t('.change_approved'),
                                url: erp_consignments.status_approved_backend_cs_returns_path(id: cs_return),
                                data_method: 'PUT',
                                hide: cs_return.status == Erp::Consignments::CsReturn::CS_RETURN_STATUS_APPROVED,
                                class: 'ajax-link'
                            },
                            {
                                text: '<i class="fa fa-close"></i> '+t('.change_pending'),
                                url: erp_consignments.status_pending_backend_cs_returns_path(id: cs_return),
                                data_method: 'PUT',
                                hide: cs_return.status == Erp::Consignments::CsReturn::CS_RETURN_STATUS_PENDING,
                                class: 'ajax-link'
                            },
                            {
                                divider: true
                            },
                            {
                                text: '<i class="fa fa-trash"></i> '+t('.delete'),
                                url: erp_consignments.backend_cs_return_path(cs_return),
                                data_method: 'DELETE',
                                class: 'ajax-link',
                                data_confirm: t('delete_confirm')
                            }
                        ]
                    ) %>
                </td>
            </tr>
        <% end.empty? %>
            <tr>
                <td colspan="7"><%= t('.no_matching_records_found') %></td>
            </tr>
        <% end %>
    </tbody>
</table>
        
<%= erp_datalist_pagination(@cs_returns) %>