<% content_for :title do %>
    <%= t('.show') %> # <%= @cs_return.code %>
<% end %>

<% content_for :page_title do %>
    <a href="<%= erp_consignments.backend_consignments_path %>">
    <i class="fa fa-cubes"></i> <%= t('.consignments') %>
    </a> / <%= t('.show_cs_return') %> # <%= @cs_return.code %>
    <%= status_label(@cs_return.status) %>
<% end %>

<% content_for :page_toolbar do %>
    <% if can? :update, @cs_return %>
        <%= erp_component('button/edit', {
            text: t('.edit'),
            href: erp_consignments.edit_backend_cs_return_path(@cs_return)
        }) %>
    <% end %>
    
    <%
        actions = []
        actions << {
            text: '<i class="fa fa-check-square-o"></i> '+t('.delivery'),
            url: erp_consignments.set_delivered_backend_cs_returns_path(id: @cs_return.id),
            data_method: 'PUT',
            data_confirm: t('.set_delivered_confirm'),
            class: 'ajax-link'
        } if can? :set_delivered, @cs_return
        actions << {
            text: '<i class="fa fa-close"></i> '+t('.delete'),
            href: erp_consignments.set_deleted_backend_cs_returns_path(id: @cs_return.id),
            data_method: 'PUT',
            data_confirm: t('.deleted_confirm'),
            class: 'ajax-link'
        } if can? :set_deleted, @cs_return
    %>

    <%= erp_component('button/actions', {
        actions: actions,
        text: t('.options'),
        class: 'btn-noborder'
    }) if !actions.empty? %>
<% end %>

<%= erp_datalist(
    url: erp_consignments.show_list_backend_cs_returns_path(id: @cs_return.id),
    columns: [
        {
            text: t('.ordinal_number'), name: 'ordinal_number', value: true, checked: true
        },
        {
            text: t('.items'), name: 'items', value: true, checked: true
        },
        {
            text: t('.units'), name: 'units', value: true, checked: true
        },
        {
            text: t('.state'), name: 'state', value: true, checked: true
        },
        {
            text: t('.warehouse'), name: 'warehouse', value: true, checked: true
        },
        {
            text: t('.quantity'), name: 'quantity', value: true, checked: true
        },
        {
            text: t('.consignment_code'), name: 'consignment_code', value: true, checked: true
        },
        {
            text: t('.note'), name: 'note', value: true, checked: false
        }
    ]
) %>
