<% content_for :title do %>
    <%= t('.consignments') %>
<% end %>

<% content_for :page_title do %>
    <i class="fa fa-cubes"></i> <%= t('.consignments') %>
<% end %>

<% content_for :page_toolbar do %>
    <% if can? :sales_consignments_create, nil %>
        <%= erp_component('button/create', {
            text: t('.create'),
            href: erp_consignments.new_backend_consignment_path,
            class: 'btn-noborder'
        }) %>
    <% end %>
<% end %>

<% content_for :global_filter do %>
    <div class="row top-datalist">
        <div class="col-md-2">
            <%= erp_form_control('date', {
                label: 'Từ ngày',
                name: 'from_date',
                placeholder: 'Chọn ngày'
            }) %>
        </div>
        <div class="col-md-2">
            <%= erp_form_control('date', {
                label: 'Đến ngày',
                name: 'to_date',
                placeholder: 'Chọn ngày'
            }) %>
        </div>
        <div class="col-md-2">
            <%= erp_form_control('dataselect', {
                label: 'Mốc thời gian',
                name: 'period',
                value: (@period.present? ? @period.id : ''),
                text: (@period.present? ? @period.name : ''),
                placeholder: 'Chọn khoảng thời gian',
                url: erp_periods.dataselect_backend_periods_path(format: 'json'),
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'contact',
                label: t('.filter_customer'),
                placeholder: t('.choose_customer'),
                url: erp_contacts.dataselect_backend_contacts_path(format: 'json', is_customer: true,
                    contact_group_id: [Erp::Contacts::ContactGroup::GROUP_HOSPITAL,
                        Erp::Contacts::ContactGroup::GROUP_COMPANY,
                        Erp::Contacts::ContactGroup::GROUP_CLINIC,
                        Erp::Contacts::ContactGroup::GROUP_PHARMACY,
                        Erp::Contacts::ContactGroup::GROUP_RETAIL_CUSTOMER,
                        Erp::Contacts::ContactGroup::GROUP_STAFF]
                )
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'warehouse',
                label: t('.filter_warehouse'),
                placeholder: t('.choose_warehouse'),
                url: erp_warehouses.dataselect_backend_warehouses_path(format: 'json')
            }) %>
        </div>
    </div>
<% end %>

<%= erp_datalist(
    url: erp_consignments.list_backend_consignments_path,
    keywords: [
        {
            text: t('.code'), name: 'erp_consignments_consignments.code'
        },
        {
            text: t('creator'),
            name: 'erp_users.name',
            select: {
                name: 'erp_users.id',
                data_url: erp.dataselect_backend_users_path
            }
        }
    ],
    filters: [
        {
            text: t('.is_type_consign'), name: 'erp_consignments_consignments.consignment_type', value: 'consign', checked: false
        },
        {
            text: t('.is_type_lend'), name: 'erp_consignments_consignments.consignment_type', value: 'lend', checked: false
        },
        {
            divider: true
        },
        {
            text: t('.is_draft'), name: 'erp_consignments_consignments.status', value: 'draft', checked: true
        },
        {
            text: t('.is_active'), name: 'erp_consignments_consignments.status', value: 'active', checked: true
        },
        {
            text: t('.is_delivered'), name: 'erp_consignments_consignments.status', value: 'delivered', checked: true
        },
        {
            text: t('.is_deleted'), name: 'erp_consignments_consignments.status', value: 'deleted', checked: false
        },
        {
            divider: true
        },
        {
            text: t('.is_returned'), name: 'erp_consignments_consignments.cache_return_status', value: Erp::Consignments::Consignment::RETURN_STATUS_RETURNED, checked: false
        },
        {
            text: t('.is_not_returned'), name: 'erp_consignments_consignments.cache_return_status', value: Erp::Consignments::Consignment::RETURN_STATUS_NOT_RETURNED, checked: false
        },
        {
            text: t('.is_over_returned'), name: 'erp_consignments_consignments.cache_return_status', value: Erp::Consignments::Consignment::RETURN_STATUS_OVER_RETURNED, checked: false
        },
    ],
    columns: [
        {
            text: t('.code'), name: 'code', value: true, checked: true
        },
        {
            text: t('.type'), name: 'type', value: true, checked: false
        },
        {
            text: t('.contact'), name: 'contact', value: true, checked: true
        },
        {
            text: t('.sent_date'), name: 'sent_date', value: true, checked: true
        },
        {
            text: t('.return_date'), name: 'return_date', value: true, checked: true
        },
        {
            text: t('.quantity'), name: 'quantity', value: true, checked: true
        },
        {
            text: t('.returned_qty'), name: 'returned_qty', value: true, checked: true
        },
        {
            text: t('.warehouse'), name: 'warehouse', value: true, checked: true
        },
        {
            text: t('.note'), name: 'note', value: true, checked: true
        },
        {
            text: t('.employee'), name: 'employee', value: true, checked: true
        },
        {
            text: t('status'), name: 'status', value: true, checked: true
        },
        {
            text: t('creator'), name: 'creator', value: true, checked: false
        },
        {
            text: t('created_at'), name: 'created_at', value: true, checked: false
        }
    ],
    sort: { sort_by: 'erp_consignments_consignments.created_at', sort_direction: 'desc' }
) %>
