<table class="table table-advance table-hover table-striped table-checkable order-column">
    <thead>
        <tr>
            <th width='1%'>
                <%= erp_datalist_check_all %>
            </th>
            <% if get_columns(params).include?("code") %>
                <th width='15%'><%= t('.code') %></th>
            <% end %>
            <% if get_columns(params).include?("type") %>
                <th><%= t('.type') %></th>
            <% end %>
            <% if get_columns(params).include?("contact") %>
                <th><%= t('.contact') %></th>
            <% end %>
            <% if get_columns(params).include?("sent_date") %>
                <th class="sortable" sort-by='erp_consignments_consignments.sent_date'>
                    <%= t('.sent_date') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("return_date") %>
                <th  class="sortable" sort-by='erp_consignments_consignments.return_date'>
                    <%= t('.return_date') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("quantity") %>
                <th class="text-center"><%= t('.quantity') %></th>
            <% end %>
            <% if get_columns(params).include?("employee") %>
                <th><%= t('.employee') %></th>
            <% end %>
            <% if get_columns(params).include?("warehouse") %>
                <th><%= t('.warehouse') %></th>
            <% end %>
            <% if get_columns(params).include?("note") %>
                <th><%= t('.note') %></th>
            <% end %>
            <% if get_columns(params).include?("status") %>
                <th><%= t('status') %></th>
            <% end %>
            <% if get_columns(params).include?("creator") %>
                <th class="text-center"><%= t('creator') %></th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th><%= t('created_at') %></th>
            <% end %>
            <th class="text-right" width="7%"><%= t('actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% @consignments.each do |consignment| %>
            <tr class="<%= 'blurred' if consignment.is_deleted? %> odd gradeX has-child-table"
                data-url="<%= erp_consignments.consignment_details_backend_consignments_path(
                    id: consignment.id
                ) %>">
                <td>
                    <%= erp_datalist_check_row(id: consignment.id) %>
                </td>
                <% if get_columns(params).include?("code") %>
                    <td>
                        <i class="fa fa-plus expand tr-expand-button"></i>
                        <strong><%= consignment.code %></strong>
                    </td>
                <% end %>
                <% if get_columns(params).include?("type") %>
                    <td><%= t("."+consignment.consignment_type) %></td>
                <% end %>
                <% if get_columns(params).include?("contact") %>
                    <td><%= consignment.contact_name %></td>
                <% end %>
                <% if get_columns(params).include?("sent_date") %>
                    <td><%= format_date(consignment.sent_date) %></td>
                <% end %>
                <% if get_columns(params).include?("return_date") %>
                    <td><%= format_date(consignment.return_date) %></td>
                <% end %>
                <% if get_columns(params).include?("quantity") %>
                    <td class="text-center"><%= consignment.total_quantity %></td>
                <% end %>
                <% if get_columns(params).include?("employee") %>
                    <td><%= consignment.employee_name %></td>
                <% end %>
                <% if get_columns(params).include?("warehouse") %>
                    <td><%= consignment.warehouse_name %></td>
                <% end %>
                <% if get_columns(params).include?("note") %>
                    <td><%= raw consignment.note %></td>
                <% end %>
                <% if get_columns(params).include?("status") %>
                <td>
                    <%= status_label(consignment.status) %>
                    <%= status_label(consignment.check_stock_status) %>                    
                </td>
                <% end %>
                <% if get_columns(params).include?("creator") %>
                    <td>
                        <%= erp_component('avatar', {
                            user: consignment.creator
                        }) %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                    <td><%= format_date(consignment.created_at) %></td>
                <% end %>
                <td>
                    <%= consignment_dropdown_actions(consignment) %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<% if @consignments.empty? %>
    <div class="datalist-empty-line"><%= t('.no_matching_records_found') %></div>
<% end %>

<%= erp_datalist_pagination(@consignments) %>